---
import "@fontsource/zen-kaku-gothic-new";
import Footer from "./Footer.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="FF14のサブマリンボイジャーの残り時間を表示します。ゲームにログインしていない時に残り時間を確認できます。今は潜水艦4隻分を設定できます。"
    />
    <title>{title}</title>
    <link rel="icon" href="https://ff14-voyager-timer.vercel.app/favicon.ico" />
    <meta
      property="og:title"
      content="FF14 サブマリンボイジャー残り時間表示ツール"
    />
    <meta
      property="og:description"
      content="FF14のサブマリンボイジャーの残り時間を表示します。ゲームにログインしていない時に残り時間を確認できます。今は潜水艦4隻分を設定できます。"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ff14-voyager-timer.vercel.app/" />
    <meta
      property="og:image"
      content="https://ff14-voyager-timer.vercel.app/ogp.jpg"
    />
    <meta
      property="og:site_name"
      content="FF14 サブマリンボイジャー残り時間表示ツール"
    />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JDR7J7W364"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-JDR7J7W364");
    </script>
  </head>
  <body>
    <main class="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  /*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  #root,
  #__next {
    isolation: isolate;
  }
  /* ここまでリセットCSS */
  :root {
    --color-text: #4e4a4a;
    --color-link: #30869e;
    --color-white: #fff;
    --color-lightgray: #c5c2c2;
    --color-lightblue: #f2f6f7;
    --color-bg: #d5e8ef;
  }
  a {
    color: var(--color-link);
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
  body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--color-text);
  }
  .main {
    flex: 1;
    margin: 0 auto;
    padding: 2rem 2rem 4rem 2rem;
    max-width: 50rem;
    width: 90%;
    border: 1px solid var(--color-text);
    @media screen and (max-width: 600px) {
      padding: 1rem 1rem 2rem;
    }
  }
</style>
