---
import PrivacyLink from "../components/PrivacyPolicyLink.jsx";
const today = new Date();
---

<footer class="footer">
  <PrivacyLink client:only />
  <p class="copy">&copy; {today.getFullYear()} kon-k.</p>
</footer>

<style>
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    border-top: 2px solid var(--color-primary);
  }
  .copy {
    margin: 0.5rem 0;
    font-size: 0.8rem;
  }
</style>
