<header class="header">
  <div class="header__inner">
    <div class="lead">FF14 サブマリンボイジャー残り時間表示ツール</div>
  </div>
</header>

<style>
  .header {
    width: 100%;
  }
  .header__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
    width: 90%;
    margin: 0 auto;
    max-width: 800px;
  }
  .lead {
    margin: 0;
    font-size: 0.9rem;
  }
</style>
