---
import ToggleTheme from "../components/ToggleTheme";
---

<header class="header">
  <div class="header__inner">
    <div class="lead">FF14 サブマリンボイジャー残り時間表示ツール</div>
    <div>
      <ToggleTheme client:only />
    </div>
  </div>
</header>

<style>
  .header {
    width: 100%;
  }
  .header__inner {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 0 auto;
    @media (max-width: 768px) {
      align-items: center;
    }
  }
  .lead {
    margin: 0;
    font-size: 0.9rem;
    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
  }
</style>
